<div class="back-arrow"><a href="/dashboard">&larr; Back</a></div>
<div class="admin-title flex">
  <h2>View / Edit Post</h2>

  <form action="/delete-post/<%= data._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete" class="btn-delete btn">
  </form>

</div>

<div class="edit-post">
  <form action="/edit-post/<%= data._id %>?_method=PUT" method="POST">

    <label for="title"><b>Title</b></label>
    <input type="text" name="title" value="<%= data.title %>">

    <label for="body"><b>Content</b></label>
    <textarea name="body" cols="50" rows="10"><%= data.body %></textarea>


    <label for="image"><b>Image Url</b></label>
    <input type="text" name="image" value="<%= data.image %>">


    <label for="tags"><b>Tags</b></label>

    <% for( let index=0; index < data.tags.length; index++ ) { %>
      <input type="text" name="tags" value="<%= data.tags[index] %>">
      <% } %>

        <label for="tags"><b>Category</b></label>
        <% for( let index=0; index < data.category.length; index++ ) { %>
          <input type="text" name="category" value="<%= data.category[index] %>">
          <% } %>
            <label for="shortDescription"><b>Short Description</b></label>
            <input type="text" name="shortDescription" value="<%= data.shortDescription %>">

            <label for="imageSource"><b>Image Source</b></label>
            <input type="text" name="imageSource" value="<%= data.imageSource %>">

            <label for="imageSourceDescription"><b>Image Source Description</b></label>
            <input type="text" name="imageSourceDescription" value="<%= data.imageSourceDescription %>">


            <div class="flex add-post-btn">
              <input type="submit" value="Update" class="action-btn">
            </div>

  </form>
</div>

<script>
  // let editTagsBtn = document.getElementById('editaddTagsBtn');
  // let edittagList = document.querySelector('.edittag-list')
  // let edittagItem = document.querySelectorAll('.teditag-item')[0];
  // let editallTags = document.querySelectorAll('.edittag-item')


  // editTagsBtn.addEventListener('click', function () {
  //   let editnewTags = edittagItem.cloneNode(true);
  //   let edittagInput = editnewTags.getElementsByTagName('input')[0];
  //   edittagInput.value = '';
  //   edittagList.appendChild(editnewTags)
  // })
</script>