<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="<%= locals.shortDescription %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="<%= locals.image %>" />
  <meta property="og:title" content="<%= locals.title %>" />
  <meta property="og:description" content="<%= locals.shortDescription %>" />
  <title> Lena Esposito Blog <%= locals.title %>
  </title>
  <link rel="canonical" href="https://blog.lenaesposito.co.uk">

  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
  <link rel="stylesheet" href="/styles/blog.css">
  <script type="text/javascript" defer src="/js/jquery-3.7.0.js"></script>
  <script type="text/javascript" defer src="/js/jquery-ui.min.js"></script>
  <script type="text/javascript" defer src="/js/script.js"></script>
  <script type="text/javascript" defer src="/js/lenaesposito.js"></script>
  <script type="text/javascript" defer src="/js/blog.js"></script>
  <script crossorigin="anonymous" src="/js/c5fce3d149.js" defer></script>
  <script type="application/ld+json">
        {
          "@context": "https://blog.lenaesposito.co.uk",
          "@type": "Blog",
          "url": "https://blog.lenaesposito.co.uk",
          "logo": "https://lenaesposito.co.uk/assets/lenaesposito-logo.svg"
        }
        </script>
</head>

<body class="flex-column">
  <a href="#get-started" aria-label="Go to the top of the page">
    <div class="arrow"><i class="fa-solid fa-arrow-up  background-white"></i></div>
  </a>
  <div id="get-started"></div>
  <div class="container">
    <%- include('../partials/header.ejs') %>
      <div class="w70">
        <%- body %>
      </div>
  </div>

  <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
  <script crossorigin src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script type="text/babel" src="/js/BlogIntro.js"></script>
  <script type="text/babel">
    ReactDOM.render(<BlogIntro />, document.getElementById('blog-intro'))
  </script>

</body>
<%- include('../partials/footer.ejs') %>

</html>