<div class="categories mt2 mb2">
    <h1 class="mb2">Posts by Category</h1>


    <div class="categories__list flex mt2 mb2">

        <% if(categories !='' ) { %>

            <% categories.forEach(function(category, index){%>

                <a href="#category__<%= category.searchBy%>"><button class="categories__button">
                        <%= category.name %>
                    </button></a>
                <% }) %>

                    <% } %>


    </div>

    <div class="grid mt2">

        <h1 class="mb2" id="catagory__javascript">JavaScript</h1>
        <ul class="article-ul grid">
            <% if(typeof allCategories.javascript !=='undefined' && allCategories.javascript.length> 0) { %>
                <% allCategories.javascript.forEach(function(post, index) { %>

                    <li>
                        <div class="shadow blog-entry background-white">
                            <a href="/post/<%=post._id %>">
                                <figure><img src="<%=post.image %>" alt="Illustration for <%=post.title %>"></figure>
                            </a>
                            <div class="date-readmore flex">
                                <span class="entry-date">
                                    <%= post.createdAt.toDateString() %>
                                </span>
                                <div class="read-more-btn"><a href="/post/<%=post._id %>">Read more</a></div>
                            </div>

                            <a class="flex-align" href="/post/<%=post._id %>">
                                <h2 class="blog-entry-title flex">
                                    <%= post.title %>
                                </h2>
                            </a>
                            <div class="tags-entry">

                                <% for( let index=0; index < post.tags.length; index++ ) { %>
                                    <span>
                                        <a href="/categories">
                                            <%=post.tags[index]%>
                                    </span> </a>
                                    <% } %>
                            </div>
                        </div>
                    </li>

                    <% }) %>
                        <% }%>
        </ul>

    </div>
<hr class="mt3">
    <div class="grid mt2">

        <h1 class="mb2" id="category__smallApp">Small Apps</h1>
        <ul class="article-ul grid">
            <% if(typeof allCategories.smallApp !=='undefined' && allCategories.smallApp.length> 0) { %>
                <% allCategories.smallApp.forEach(function(post, index) { %>

                    <li>
                        <div class="shadow blog-entry background-white">
                            <a href="/post/<%=post._id %>">
                                <figure><img src="<%=post.image %>" alt="Illustration for <%=post.title %>"></figure>
                            </a>
                            <div class="date-readmore flex">
                                <span class="entry-date">
                                    <%= post.createdAt.toDateString() %>
                                </span>
                                <div class="read-more-btn"><a href="/post/<%=post._id %>">Read more</a></div>
                            </div>

                            <a class="flex-align" href="/post/<%=post._id %>">
                                <h2 class="blog-entry-title flex">
                                    <%= post.title %>
                                </h2>
                            </a>
                            <div class="tags-entry">

                                <% for( let index=0; index < post.tags.length; index++ ) { %>
                                    <span>
                                        <a href="/categories">
                                            <%=post.tags[index]%>
                                    </span> </a>
                                    <% } %>
                            </div>
                        </div>
                    </li>

                    <% }) %>
                        <% }%>
        </ul>

    </div>
<hr class="mt3">
    <div class="grid mt2">

        <h1 class="mb2" id="category__website">Websites</h1>
        <ul class="article-ul grid">
            <% if(typeof allCategories.website !=='undefined' && allCategories.website.length> 0) { %>
                <% allCategories.website.forEach(function(post, index) { %>

                    <li>
                        <div class="shadow blog-entry background-white">
                            <a href="/post/<%=post._id %>">
                                <figure><img src="<%=post.image %>" alt="Illustration for <%=post.title %>"></figure>
                            </a>
                            <div class="date-readmore flex">
                                <span class="entry-date">
                                    <%= post.createdAt.toDateString() %>
                                </span>
                                <div class="read-more-btn"><a href="/post/<%=post._id %>">Read more</a></div>
                            </div>

                            <a class="flex-align" href="/post/<%=post._id %>">
                                <h2 class="blog-entry-title flex">
                                    <%= post.title %>
                                </h2>
                            </a>
                            <div class="tags-entry">

                                <% for( let index=0; index < post.tags.length; index++ ) { %>
                                    <span>
                                        <a href="/categories">
                                            <%=post.tags[index]%>
                                    </span> </a>
                                    <% } %>
                            </div>
                        </div>
                    </li>

                    <% }) %>
                        <% }%>
        </ul>

    </div>

<hr class="mt3">
    <div class="grid mt2">

        <h1 class="mb2" id="category__bootstrap">Bootstrap</h1>
        <ul class="article-ul grid">
            <% if(typeof allCategories.bootstrap !=='undefined' && allCategories.bootstrap.length> 0) { %>
                <% allCategories.bootstrap.forEach(function(post, index) { %>

                    <li>
                        <div class="shadow blog-entry background-white">
                            <a href="/post/<%=post._id %>">
                                <figure><img src="<%=post.image %>" alt="Illustration for <%=post.title %>"></figure>
                            </a>
                            <div class="date-readmore flex">
                                <span class="entry-date">
                                    <%= post.createdAt.toDateString() %>
                                </span>
                                <div class="read-more-btn"><a href="/post/<%=post._id %>">Read more</a></div>
                            </div>

                            <a class="flex-align" href="/post/<%=post._id %>">
                                <h2 class="blog-entry-title flex">
                                    <%= post.title %>
                                </h2>
                            </a>
                            <div class="tags-entry">

                                <% for( let index=0; index < post.tags.length; index++ ) { %>
                                    <span>
                                        <a href="/categories">
                                            <%=post.tags[index]%>
                                    </span> </a>
                                    <% } %>
                            </div>
                        </div>
                    </li>

                    <% }) %>
                        <% }%>
        </ul>

    </div>


<hr class="mt3">
    <div class="grid mt2">

        <h1 class="mb2" id="category__jQuery">jQuery</h1>
        <ul class="article-ul grid">
            <% if(typeof allCategories.jQuery !=='undefined' && allCategories.jQuery.length> 0) { %>
                <% allCategories.jQuery.forEach(function(post, index) { %>

                    <li>
                        <div class="shadow blog-entry background-white">
                            <a href="/post/<%=post._id %>">
                                <figure><img src="<%=post.image %>" alt="Illustration for <%=post.title %>"></figure>
                            </a>
                            <div class="date-readmore flex">
                                <span class="entry-date">
                                    <%= post.createdAt.toDateString() %>
                                </span>
                                <div class="read-more-btn"><a href="/post/<%=post._id %>">Read more</a></div>
                            </div>

                            <a class="flex-align" href="/post/<%=post._id %>">
                                <h2 class="blog-entry-title flex">
                                    <%= post.title %>
                                </h2>
                            </a>
                            <div class="tags-entry">

                                <% for( let index=0; index < post.tags.length; index++ ) { %>
                                    <span>
                                        <a href="/categories">
                                            <%=post.tags[index]%>
                                    </span> </a>
                                    <% } %>
                            </div>
                        </div>
                    </li>

                    <% }) %>
                        <% }%>
        </ul>

    </div>

<hr class="mt3">
    <div class="grid mt2">

        <h1 class="mb2" id="category__cheatSheet">Cheat Sheets</h1>
        <ul class="article-ul grid">
            <% if(typeof allCategories.cheatSheet !=='undefined' && allCategories.cheatSheet.length> 0) { %>
                <% allCategories.cheatSheet.forEach(function(post, index) { %>

                    <li>
                        <div class="shadow blog-entry background-white">
                            <a href="/post/<%=post._id %>">
                                <figure><img src="<%=post.image %>" alt="Illustration for <%=post.title %>"></figure>
                            </a>
                            <div class="date-readmore flex">
                                <span class="entry-date">
                                    <%= post.createdAt.toDateString() %>
                                </span>
                                <div class="read-more-btn"><a href="/post/<%=post._id %>">Read more</a></div>
                            </div>

                            <a class="flex-align" href="/post/<%=post._id %>">
                                <h2 class="blog-entry-title flex">
                                    <%= post.title %>
                                </h2>
                            </a>
                            <div class="tags-entry">

                                <% for( let index=0; index < post.tags.length; index++ ) { %>
                                    <span>
                                        <a href="/categories">
                                            <%=post.tags[index]%>
                                    </span> </a>
                                    <% } %>
                            </div>
                        </div>
                    </li>

                    <% }) %>
                        <% }%>
        </ul>

    </div>

</div>