<article class="article">
  <div class="mt3 article-goback-share flex">
    <div class="go-back uppercase"><a href="/">&larr; Go Back</a></div>
    <div class="">
      <div class="flex share-buttons">
        Share:
        <a href="" target="_blank" class="facebook"><i class="fab fa-facebook"></i></a>

        <a href="" target="_blank" class="twitterLink"><i class="fab fa-twitter"></i></a>

        <a href="" target="_blank" class="whatsappLink"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>

  </div>

  <h2>
    <%= data.title %>
  </h2>
  <div class="date-and-tags flex">
    <div class="createdAt">
      <%= data.createdAt.toDateString() %>
    </div>
    <div class="post-tags tags-entry">

      <% for( let index=0; index < data.tags.length; index++ ) { %>
        <!-- <a href="/tag/< %= data.tags[index]%>"> -->


        <a href="/categories"><span class="tags-entry-tag">
            <%=data.tags[index]%>
          </span></a>
        <% } %>

    </div>
  </div>
  <hr class="hr-white mb1 mt1">

  <div class="post-body">




    <%- data.body %>

  </div>
  <figure class="figure-post-body flex-column center">

    <img src="/<%= data.image %>" alt="Illustration for the <%- data.title %>">
    <figcaption><a href="<%= data.imageSource %>" target="_blank"><i><%- data.imageSourceDescription %></i></a>
    </figcaption>

  </figure>
</article>

<div class="go-back uppercase"><a href="/">&larr; Go Back</a></div>

<hr class="hr-white mb2 mt2">
<section id="comments">
  <h2 class="mb2 ff-title">Comments (<%= data.comments.length %>)</h2>
  <% for (let comment of data.comments) {%>
    <article class="comment-item mb1">
      <div class="comment-author-date-wrapper flex mb1">
        <h3>
          <%= comment.author %>
        </h3>
        <span>
          <%= comment.createdAt.toLocaleString('en-GB', { timeZone: 'UTC' }) %>
        </span>
      </div>
      <p>
        <%= comment.content %>
      </p>
    </article>
    <% } %>
      <hr class="hr-white mb2 mt2">


      <% if (data.comments.length < 1) {%>
        <h2 class="mb2 ff-title">Be the first to leave a comment</h2>
        <% } else { %>
          <h2 class="mb2 ff-title">Leave a comment</h2>
          <% } %>


            <form action="/post/<%=data._id%>/comments" method="POST" class="comment-wrapper flex">
              <div class="comment-input-wrapper mb1">
                <label class="input-label" for="comment[author]">Name</label>
                <input class="comment-text" type="text" placeholder="What's your name?" id="comment[author]"
                  name="comment[author]" required>
              </div>
              <div class="comment-input-wrapper mb1">
                <label class="input-label" for="comment[content]">Comment</label>
                <textarea class="comment-text" name="comment[content]" id="comment[content]" name="comment"
                  Placeholder="What's your thoughts?" required></textarea>
              </div>
              <button class="post-leave-comment">Leave a comment</button>
            </form>
</section>
<script>


//share buttons

const shareLink = encodeURI(window.location.href);
const msg = encodeURIComponent('Hey, I have a look at this article:');
const title = encodeURIComponent(document.querySelector('title').textContent);


const fb = document.querySelector('.facebook');
fb.href = `https://www.facebook.com/share.php?u=${shareLink}`;


const twitterLink = document.querySelector('.twitterLink');
twitterLink.href = `https://www.twitter.com/share?&url=${shareLink}&text=${msg}&hashtags=lenaesposito,lenaespositoblog,webdeveloper,webdesigner`;


const whatsappLink = document.querySelector('.whatsappLink');
whatsappLink.href = `https://api.whatsapp.com/send?text=${shareLink}`;


//contents toggle

const tableOfContents = document.getElementById('table-of-contents')
const toggleTableBtn = document.querySelector('.open-table-of-contents') 


toggleTableBtn.addEventListener('click', () => {
    tableOfContents.classList.toggle('table-of-contents-visible')
})

</script>