<div class="mt2 mb2">
    <h2 class="">Search Results for "<%=searchTerm %>"</h2>
</div>

<section class="articles mb2">

    <ul class="article-ul grid">

        <% results.forEach(result=> { %>


            <li>
                <div class="shadow blog-entry background-white">
                    <figure><img src="<%=result.image %>" alt="Illustration for <%=result.title %>"></figure>
                    <div class="date-readmore flex">
                        <span class="article-list__date entry-date">
                            <%= result.createdAt.toDateString() %>
                        </span>
                        <div class="read-more-btn"><a href="/post/<%=result._id %>">Read more</a></div>
                    </div>

                    <a href="/post/<%=result._id %>">
                        <h2 class="mb1" style="font-size: 1rem;">
                            <%= result.title %>
                        </h2>
                    </a>

                    <div class="tags-entry">

                        <% for( let i=0; i < result.tags.length; i++ ) { %>
                            <a href="/categories"><button class="no-btn tags-entry-tag">
                                    <%=result.tags[i]%>
                                </button> </a>
                            <% } %>

                    </div>
                </div>
            </li>
            <% }) %>
    </ul>

</section>