<div class="mt2 mb2">
    <h2 class="">Search Results</h2>
</div>

<section class="articles mb2">

    <ul class="article-ul grid">

        <% data.forEach(post=> { %>


            <li>
                <div class="shadow blog-entry background-white">
                    <figure><img src="<%=post.image %>" alt="Illustration for <%=post.title %>"></figure>
                    <div class="date-readmore flex">
                        <span class="article-list__date entry-date">
                            <%= post.createdAt.toDateString() %>
                        </span>
                        <div class="read-more-btn"><a href="/post/<%=post._id %>">Read more</a></div>
                    </div>

                    <a href="/post/<%=post._id %>">
                        <h2 class="mb1" style="font-size: 1rem;">
                            <%= post.title %>
                        </h2>
                    </a>
                    <div class="tags-entry">

                        <% for( let index=0; index < post.tags.length; index++ ) { %>
                            <span>
                               <a href="/categories"> <%=post.tags[index]%>
                            </span> </a>
                            <% } %>
                    </div>
                </div>
            </li>
            <% }) %>
        </ul>

</section>